- content_for :right do
  - if admin?
    %h6
      = t("savage_beast.admin_title")
    %p
      = link_to t("savage_beast.create_new_forum"), new_forums_forum_path, :class => "utility"
%h1{ :style => "margin-top:0;" }
  = t("savage_beast.forums_title")
/
  No RSS for now
  <p class="subtitle">
  <haml:silent># feed_icon_tag &amp;quot;Recent Posts&amp;quot;[:recent_posts], all_posts_path(:format =&amp;gt; 'rss') </haml:silent>
  <haml:silent># '{count} topic(s)'[(count=Topic.count)==1 ? :topic_count : :topics_count, number_with_delimiter(count)] </haml:silent>,
  <haml:silent># '{count} post(s)'[(count=Post.count)==1 ? :post_count : :posts_count, number_with_delimiter(count)] </haml:silent>, <haml:silent># '{count} voice(s)'[(count=User.count(:conditions =&amp;gt; &amp;quot;posts_count &amp;gt; 0&amp;quot;))==1 ? :voice_count : :voices_count, number_with_delimiter(count)] </haml:silent>
  </p>
%table.wide.forums{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
  %tr
    %th.la{ :width => "70%", :colspan => "3" }
      = t("savage_beast.forum_title")
    /
      <th width="5%">Topics</th>
      <th width="5%">Posts</th>
    %th.la{ :width => "30%", :colspan => "1" }
      = t("savage_beast.last_post")
  - for forum in @forums do
    %tr
      %td.vat.c1
        - if recent_forum_activity(forum)
          = image_tag "savage_beast/clearbits/comment.gif", :class => "icon green", :title => t("savage_beast.recent_activity")
        - else
          = image_tag "savage_beast/clearbits/comment.gif", :class => "icon grey", :title => t("savage_beast.no_recent_activity")
      %td.c2.vat
        = link_to h(forum.name), forums_forum_path(forum), :class => "title"
        .posts
          = topic_count forum.topics.size
          ,
          = post_count forum.posts.size
        %p.desc
          = forum.description_html
      %td.c3
        = link_to t("savage_beast.edit_title"), edit_forums_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if admin?
      %td.inv.lp
        - if forum.recent_post
          = time_ago_in_words(forum.recent_post.created_at)
          %br
          %strong
            = t('savage_beast.by_user', :user => h(forum.recent_post.user.display_name))
          - if forum.recent_post.topic
            %span
              (
              = link_to t("savage_beast.view"), forums_forum_topic_path(:forum_id => forum, :id => forum.recent_post.topic_id, :page => forum.recent_post.topic.last_page, :anchor => forum.recent_post.dom_id)
              )
%p
  = link_to t("savage_beast.recent_posts"), all_posts_path
- online_users = User.currently_online
- unless !online_users || online_users.empty?
  .stats
    .users
      - unless !online_users || online_users.empty?
        = 'Users online:'[:users_online]
        = online_users.map { |u| link_to "<strong>#{h u.display_name}</strong>", user_path(u) } * ", "
        %br
