.crumbs
  = link_to t("savage_beast.forums_title"), forums_forums_path
  %span.arrow
    \&rarr;
%h1
  = t("savage_beast.new_forum")
- form_for :forum, :url => forums_forums_path do |f|
  = render :partial => "form", :object => f
  = submit_tag t("savage_beast.create_new_forum")
  = t("savage_beast.or")
  = link_to(t("savage_beast.cancel"), forums_forums_path)
