#header
  %ul#nav
    %li
      = link_to t("savage_beast.forums_title"), forums_forums_path, :rel => 'home'
    %li
      = link_to t("savage_beast.users_title"), users_path
    %li#search
      - form_tag search_all_posts_url, :method => :get do
        = text_field_tag :q, params[:q], :size => 15, :id => :search_box
        %li
          = submit_tag t("savage_beast.search_title")
    %li.login
      = beast_user_link
  %h1
    = link_to t("savage_beast.beast_title"), forums_forums_path
